<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intradroid.dt.intradroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".subscribe"
            android:label="@string/title_activity_subscribe" >
        </activity>
        <activity
            android:name=".token"
            android:label="@string/title_activity_token" >
        </activity>
        <activity
            android:name=".user"
            android:label="@string/title_activity_user" >
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="@string/app_name" />

                <category android:name="@string/category_name" />
            </intent-filter>
        </activity>
    </application>

</manifest>
